body {
  font-family: sans-serif;
}

header {
  padding: 20px 0;
}

header img {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
}

nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #000000;
  padding: 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
}

main {
  padding: 20px 0;
}

main h1 {
  font-size: 24px;
}

main p {
  font-size: 16px;
}

main img {
  width: 100%;
}

.card-group .card {
  margin-bottom: 1.5rem; /* Usa la clase my-4 de Bootstrap */
  margin-right: 0.75rem; /* Usa la clase mr-3 de Bootstrap */
}

/* .card-group {
  display: flex;
  flex-wrap: wrap; /
  justify-content: space-around; 
} */

.card-img-top {
  object-fit: cover; /* Mantiene la proporción y cubre el contenedor */
  height: 200px;
}
.card {
  min-width: 15rem;
  max-width: 15rem;
}

.card-body {
  padding: 1.25rem;
}
/* @media (max-width: 768px) {
  .card-group .card {
    flex: 1 0 50%; 
  }
}

@media (max-width: 576px) {
  .card-group .card {
    flex: 1 0 100%;
  }
}
 */

.mensaje-exito {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.boton-exito {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.boton-exito:hover {
  background-color: #b1b1b1;
}

.contenedor-exito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whatsapp-button {
  display: inline-block;
  background-color: #25D365;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #1CB14E;
}

.whatsapp-button i.fa {
  font-size: 20px;
  margin-right: 5px;
}

/* Estilos generales para el formulario */
.container form {
  margin:  20px auto; /* Margen superior e inferior */
  padding: 20px;
  background-color: #f5f5f5; /* Color de fondo claro */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para las etiquetas de campo */
.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}  

/* Estilos para los campos de entrada */
.container form input[type="text"],
.container form input[type="email"],
.container form textarea {
  width: 100%; 
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd; 
  border-radius: 3px;
  box-sizing: border-box; 
}

/* Estilos para los mensajes de error */
.text-danger {
  color: #dc3545; /* Color rojo para los errores */
}

/* Estilos para el botón de envío */
.container form input[type="submit"] {
  background-color: #007bff; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container form input[type="submit"]:hover {
  background-color: #0056b3; /* Tono más oscuro al pasar el cursor */
}

.carousel-inner {
  height: 400px;
  width: 100%;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}
