<div class="card" style="width: 18rem">
  <img
    src="{% static 'img/chocolate.png' %}"
    class="card-img-top"
    alt="Flan de Chocolate"
  />
  <div class="card-body">
    <h5 class="card-title">Flan de Chocolate</h5>
    <p class="card-text">
        Intenso sabor a chocolate para los amantes del postre.
    </p>
    <a href="#" class="btn btn-primary">Agregar al carro</a>
  </div>
</div>

  <article class="producto">
    <img src="{% static 'img/chocolate.png' %}" alt="Flan de chocolate" />
    <h3>Flan de Chocolate</h3>
    <p>Intenso sabor a chocolate para los amantes del postre.</p>
    <span class="precio">$2.000</span>
    <a href="#" class="boton">Agregar al carrito</a>
  </article>