{% extends 'base.html' %} {% block contenido %}
<main>
  <h2>Bienvenidos</h2>

  <section class="welcome">
    <p id="mensaje-bienvenida"></p>

    <p>
      OnlyFlans es una empresa familiar dedicada a la elaboración de flans
      artesanales con ingredientes frescos y de alta calidad. Nuestra pasión por
      los postres nos motiva a crear productos deliciosos y únicos que deleiten
      a nuestros clientes.
    </p>

    <p>
      Utilizamos recetas tradicionales que se han transmitido de generación en
      generación, combinándolas con técnicas innovadoras para ofrecer una
      experiencia culinaria memorable. Nos preocupamos por la calidad de
      nuestros ingredientes y por el cuidado en la elaboración de cada flan,
      para que cada bocado sea una explosión de sabor.
    </p>

    <p>
      Además de nuestros flans clásicos, ofrecemos una variedad de opciones para
      satisfacer todos los gustos, como sabores veganos, sin gluten y opciones
      personalizadas. También contamos con tartas de flan, mini flans y kits
      para que puedas preparar tus propios flans en casa.
    </p>
  </section>
</main>
{% endblock %}
