{% extends "base.html" %} {% block contenido %}
<body>
    <div class="container about-text">
<h1>OnlyFlans: ¡Deleita tu paladar con deliciosos flans artesanales!</h1>

    <h2>¿Qué es OnlyFlans?</h2>
    <p>OnlyFlans es una plataforma online que te ofrece una amplia variedad de flans artesanales elaborados con ingredientes frescos y de alta calidad. Disfruta de sabores clásicos y originales, opciones veganas y sin gluten, tartas de flan, mini flans y kits para prepararlos en casa.</p>

    <h2>¿Por qué elegir OnlyFlans?</h2>
    <ul>
        <li><strong>Calidad superior:</strong> Flans artesanales con ingredientes frescos y de primera calidad.</li>
        <li><strong>Variedad para todos los gustos:</strong> Sabores clásicos, originales, veganos y sin gluten.</li>
        <li><strong>Comodidad a tu alcance:</strong> Pide online y recibe tus flans en la comodidad de tu hogar.</li>
        <li><strong>Frescura garantizada:</strong> Cada flan se prepara bajo pedido para asegurar su frescura.</li>
        <li><strong>Atención al cliente:</strong> Un equipo dedicado a brindarte la mejor experiencia.</li>
    </ul>

    <h2>¡Disfruta de un postre delicioso, saludable y hecho con amor!</h2>

    <p>Visita OnlyFlans y descubre un mundo de sabor: <a href="#">onlyflans.cl</a></p>
</div>
</body>
{% endblock contenido %}